<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Create Email Templates</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/tables.js"></script>

</head>

<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Markers instruction</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-body">
                            <textarea id="marker"></textarea>
                            <button class="btn customer-btn" type="submit" id="submit-button">Send</button>
                    </div>
                </div>

            </div>

        </div>
    </section>

</div>
</body>
</html>
