<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Workflow Details</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 id="template" th:text="${tag}" th:value="${tag}"></h1>
                </div>

                <div class="col-6">
                    <a th:href="@{/workflow/{workflowId}/create-email(workflowId=${workflowId})}"
                       class="btn btn-outline-primary btn-sm float-right"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add Email</a>
                </div>
                <div th:replace="layout/alert::alert" th:remove="tag"></div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">
               <p class="templateContent"></p>
            </div>
        </div>
    </section>
    <div th:replace="layout/delete::delete"></div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/modal.delete.js}"></script>


<script>

        function loadMarkers() {
            var template = document.getElementById("template").innerText;

            $.ajax({
                url: '/marker/view/template/'+template,
                type: 'GET',
                success: function(data) {
                    $('.templateContent').html(data);

                },
                error: function() {
                    // Handle the error appropriately
                }
            });
    }

    $(document).ready(function () {
        loadMarkers();
    });

</script>
</th:block>
</body>
</html>
