<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base.html">
<head>
    <title>Workflow Details</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="display-5 fw-bold m-0">Provider</h1>
                </div>

                <div class="col-6">
                    <a th:href="@{/workflow/{workflowId}/create-email(workflowId=${workflowId})}"
                       class="btn btn-outline-primary btn-sm float-right"
                       style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add Email</a>
                </div>
                <div th:replace="layout/alert::alert" th:remove="tag"></div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <table id="marker" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Created By</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div th:replace="layout/delete::delete"></div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/modal.delete.js}"></script>


<script>

        function loadMarkers() {
            $.ajax({
                url: '/marker/template-list',
                type: 'GET',
                success: function(data) {
                    var $markerTable = $('#marker tbody');
                    $markerTable.empty(); // Clear existing rows

                    // Parse the JSON response into an object
                    var parsedData = JSON.parse(data);

                    $.each(parsedData, function(index, template) {
                        var row = '<tr>' +
                            '<td>' + ++index + '</td>' +
                            '<td>' + template.tag + '</td>' +
                            '<td>' + template.templateContent + '</td>' +
                            '<td>' + template.createdBy + '</td>' +
                            '<td>' + template.createdAt + '</td>' +
                            '<td>' +
                            '<button type="button" id="edit" class="btn customer-btn" data-id="' + template.id + '">Edit</button>' +
                            '<a  href="/api/v1/mail/view/' + encodeURIComponent(template.id) + '" class="btn btn-primary-view" data-id="' + template.id + '">View</a>' +
                            '<button type="button" id="delete" class="btn delete-btn" data-id="' + template.id + '">Delete</button>' +
                            '</td>' +
                            '</tr>';
                        $markerTable.append(row);
                    });

                    // Unbind the click event before binding it again
                    $('.customer-btn').off('click').on('click', function() {
                        var customerId = $(this).data('id');
                        addCustomer(customerId);
                    });
                },
                error: function() {
                    // Handle the error appropriately
                }
            });


    }

    $(document).ready(function () {
        loadMarkers();
    });

</script>
</th:block>
</body>
</html>
